<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="https://i.pinimg.com/originals/98/e9/ec/98e9ec2eef96f82d6080d985e1adb524.jpg"
                    width="100" height="50">
                <h1 style="font-size: xx-large; padding-left: 10px; color: red;">CATEGORY</h1>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                        Log in
                    </a>
                </div>
            </div>
        </div>
        </div>
    </nav>
    <div class="container">
        <div class="columns">
            <div class="column">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% categories.forEach(function(categories){ %>
                            <tr>
                                <td>
                                    <%= categories.name %>
                                </td>
                                <td>
                                    <%= categories.description %>
                                </td>
                                <td>
                                    <div class="buttons are-small">
                                        <a href="/categories/edit/<%= categories.id %>"><button
                                                class="button is-warning is-light">Edit</button></a>
                                        <a href="/categories/delete/<%= categories.id %>"
                                            onclick="return confirm('Bạn có chắc chắn muốn xóa?')"><button
                                                class="button is-danger is-light">Delete</button></a>
                                    </div></a>
                                </td>
                            </tr>
                            <% })%>
                    </tbody>
                </table>
            </div>
            <div class="column">
                <form method="post">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Name</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-info" name="name" type="text" placeholder="....">
                                </div>
                                <p class="help is-danger">
                                    This field is required
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Description</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-info" name="description" type="text"
                                        placeholder="....">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button class="button is-primary" type="submit" style="margin-left: 400px;">
                                        Create
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



</body>

</html>